name: run api testing
on:
  pull_request:
    branches: [main]
    paths:
    - './api/**'

jobs:
  api-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.12.1]
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Install dependencies
        run: npm install

      - name: API Testing
        run: npm test